<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springGroupS.dao.MemberDAO">

	<select id="getMemberIdCheck" resultType="com.spring.springGroupS.vo.MemberVO">
		select * from member where mid = #{mid};
	</select>

	<select id="getMemberNickCheck" resultType="com.spring.springGroupS.vo.MemberVO">
		select * from member where nickName = #{nickName};
	</select>
	
	<select id="getmemberIdSearch" resultType="com.spring.springGroupS.vo.MemberVO">
		select * from member where email = #{email};
	</select>
	
	<select id="getMemberList" resultType="com.spring.springGroupS.vo.MemberVO">
	<!-- 
	  <if test="level == 99">select * from member order by mid limit #{startIndexNo},#{pageSize};</if>
	  <if test="level != 99">select * from member where level=#{level} order by mid limit #{startIndexNo},#{pageSize};</if>
	 -->  
	  select *, timestampdiff(day, lastDate, now()) as deleteDiff from member <if test="level != 99"> where level=#{level} </if> order by mid limit #{startIndexNo},#{pageSize};
	</select>
	
	<select id="getTotRecCnt" resultType="int">
	  select count(*) from member;
	</select>
	
	<select id="getMemberLevelCount" resultType="com.spring.springGroupS.vo.MemberVO">
		select * from member where level = #{level};
	</select>
	
	<select id="getMemberNickNameEmailCheck" resultType="com.spring.springGroupS.vo.MemberVO">
		select * from member where nickName = #{nickName} and email = #{email} limit 1;
	</select>
	
	
	
	<insert id="setMemberJoin">
	  insert into member values 
	    (default,#{vo.mid},#{vo.pwd},#{vo.nickName},#{vo.name},#{vo.gender},#{vo.birthday},#{vo.tel},#{vo.address},#{vo.email},#{vo.homePage},#{vo.job},#{vo.hobby},#{vo.photo},#{vo.content},#{vo.userInfor},default,default,default,default,default,default,default);
	</insert>
	
	<insert id="setKakaoMemberInput">
		insert into member (mid, pwd, nickName, email, name, level) values (#{mid}, #{pwd}, #{nickName}, #{email}, #{nickName}, 2);
	</insert>
	
	
	
	
	<!-- 
	<update id="setLastDateUpdate">
	  update member set lastdate = now() where mid = #{mid};
	</update>
	-->
	<update id="setMemberPwdChange">
	  update member set pwd = #{pwd} where mid = #{mid};
	</update>
	
	<update id="setMemberTodayCntClear">
    update member set todayCnt = 0 where mid = #{mid};
  </update>
  
	<update id="setMemberInforUpdate">
	  update member set visitCnt=visitCnt+1, lastDate=now(), todayCnt=todayCnt+1, point=point+#{point} where mid=#{mid};
	</update>
	
	<update id="setMemberInforUpdateMinus">
	  update member set visitCnt=visitCnt-1, todayCnt=todayCnt-1 where mid=#{mid};
	</update>
	
	<update id="setMemberLevelUp">
	  update member set level = 2 where mid=#{mid};
	</update>
	
	<update id="setMemberUpdateOk">
	  update member set nickName=#{vo.nickName},name=#{vo.name},gender=#{vo.gender},birthday=#{vo.birthday},tel=#{vo.tel},address=#{vo.address},email=#{vo.email},homePage=#{vo.homePage},job=#{vo.job},hobby=#{vo.hobby},photo=#{vo.photo},content=#{vo.content},userInfor=#{vo.userInfor}
	    where mid = #{vo.mid};
	</update>
	
	<update id="setUserDelete">
	  update member set userDel='OK', level=999, lastDate=now() where mid = #{mid};
	</update>
	
	

</mapper>