<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springGroupS.dao.ReviewDAO">

	
	
	<insert id="setReviewInputOk">
		insert into review values (default,#{vo.part},#{vo.partIdx},#{vo.mid},#{vo.nickName},#{vo.star},#{vo.content},default);
	</insert>
	
	<insert id="setReviewReplyInputOk">
		insert into reviewReply values (default,#{vo.reviewIdx},#{vo.replyMid},#{vo.replyNickName},#{vo.replyContent},default);
	</insert>
	
	
	
	<delete id="setReviewDelete">
		delete from review where idx = #{idx};
	</delete>
	
	<delete id="setReviewReplyDelete">
		delete from reviewReply where replyIdx = #{replyIdx};
	</delete>

</mapper>