<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springGroupS.dao.User2DAO">

	<select id="getUserList" resultType="com.spring.springGroupS.vo.UserVO">
		select * from user order by idx desc;
	</select>
	
	<select id="getUserSearch" resultType="com.spring.springGroupS.vo.UserVO">
		select * from user where mid = #{mid};
	</select>
	
	<select id="getUserIdxSearch" resultType="com.spring.springGroupS.vo.UserVO">
		select * from user where idx = #{idx};
	</select>
	
	
	
	
	
	
	<insert id="setUserInput">
	  insert into user values (default, #{vo.mid}, #{vo.name},#{vo.age},#{vo.address});
	</insert>





	<update id="setUserUpdate">
	  update user set name=#{vo.name},age=#{vo.age},address=#{vo.address} where idx=#{vo.idx};
	</update>




	<delete id="setUserDelete">
	  delete from user where idx = #{idx};
	</delete>

</mapper>